<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestMethods.TataLogo"/>
      <class name="TestMethods.Images"/>
      <class name="TestMethods.DelhiSearchFlight"/>
      <class name="TestMethods.NewYorkFlight"/>
      <class name="TestMethods.Billing"/>
      <class name="TestMethods.Hyperlink"/>
      <class name="TestMethods.SocialMedia"/>
      <class name="TestMethods.FlyingReturns"/>
      <class name="TestMethods.FlightSchedule"/>
      <class name="TestMethods.AdditionalDetails"/>
	  <class name="TestMethods.AskMaharajah"/>
	  <class name="TestMethods.Feedback"/>
	  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
